.idea/
__pycache__/
*.pyc
*.pyo
*.log
venv/
*.exe
*.dll
*.so
*.dylib
.vscode/
*.swp
*.swo
*~
*.mo
*.pot
*.sublime-project
*.sublime-workspace
*.idea/workspace.xml
*.cfg
*.conf
*.env
*.log
*.out
*.pid
*.stackdump
*.bak
*.backup
.gitattributes
.gitignore
